# Bot Secrets
CLIENT_ID=<CLIENT_ID>
CLIENT_SECRET=<CLIENT_SECRET>
OAUTH_TOKEN=<OAUTH_TOKEN>
BOT_NAME=<BOT_NAME>
# Great channels to watch
CHANNEL=cmgriffing,baldbearedbuilder,griffingandchill,mitchsworkshop,callowcreation,codinggarden
USERNAME=flybot
BOT_TRIGGER=--
# Django Secrets
DJANGO_SECRET_KEY=django-insecure-<><>@#!@
SQL_ENGINE=django.db.backends.postgresql
POSTGRES_DB=hello_django_dev
POSTGRES_USER=hello_django
POSTGRES_PASSWORD=hello_django
SQL_HOST=db
SQL_PORT=5432

# curl -X POST "https://id.twitch.tv/oauth2/token?client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials"
# oauth token https://twitchapps.com/tmi/